.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.Headline-conteiner {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
}

.mainNews {
  margin-right: 40px;
  width: 50%;
  height: 100%;
  background-color: lightgray; /* Додайте свій колір тут */
}

.Headline-news-box {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Headline-news-box div {
  margin-right: 5px;
  width: 300px;
  margin-bottom: 50px;
  height: 210px;
  position: relative;
}

.Headline-news-box div h1 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding: 10px;
}